.maple-404-box {  position: fixed; top:0; bottom: 0; left: 0; right: 0; padding: 15px; background-color: #fff; text-align: center; }
.maple-404-box .maple-404-title { display: inline-block; color: #666; font-size: 50px; }
.maple-404-box .maple-404-content { display: inline-block; color: #555; font-size: 20px; }