/* normalize */
* { box-sizing: border-box; }
body { margin: 0 auto; }
h1, h2, h3, h4, h5, h6, p, span, li, td, dd, .maple-font {
  /* font stack */
  /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif, Microsoft YaHei, 微软雅黑; */
  font-family: 华文黑体, Microsoft YaHei, 微软雅黑;
}
.col-1 {width: 8.3333333332%; float: left; max-width: 1440px;}
.col-2 {width: 16.6666666666%; float: left; max-width: 1440px;}
.col-3 {width: 25%; float: left; max-width: 1440px;}
.col-4 {width: 33.3333333332%; float: left; max-width: 1440px;}
.col-5 {width: 41.6666666666%; float: left; max-width: 1440px;}
.col-6 {width: 50%; float: left; max-width: 1440px;}
.col-7 {width: 58.3333333332%; float: left; max-width: 1440px;}
.col-8 {width: 66.6666666666%; float: left; max-width: 1440px;}
.col-9 {width: 75%; float: left; max-width: 1440px;}
.col-10 {width: 83.333333332%; float: left; max-width: 1440px;}
.col-11 {width: 91.666666666%; float: left; max-width: 1440px;}
.col-12 {width: 100%; float: left; max-width: 1440px;}
.bloc { min-height: 1px; padding: 15px; }
.cb { clear: both; }
.hidden { visibility: hidden; }

.word-center * {
  text-align: center;
  text-indent: 0;
}

.maple-header { width: 100%; height: 350px; overflow: hidden; border-bottom: 1px 1solid #ddd; box-shadow: #ddd 0px 3px 3px; }
.maple-header .words { margin: 0 auto; max-width: 1440px; }
.maple-header h1, .maple-header h2 { font-weight: normal; color: #666; }
.maple-header h1 { margin-top: 100px; font-size: 25px;}
.maple-header h2 { font-size: 20px; }

.maple-header-small { position: fixed; top: 0; height: 70px; width: 100%; background-color: #fff; border-bottom: 1px solid #ddd; box-shadow: #ddd 0px 3px 3px; text-align: center; }
.maple-header-small-container { width: 66.6666666666%; display: inline-block; } 
.maple-header-small-logo { margin: 10px 0; }
#maple-header-small-ani { z-index: 9; display: none; }
.maple-footer-small { position: fixed; bottom: -70px; height: 70px; width: 100%; background-color: #fff; border-top: 1px solid #ddd; box-shadow: #ddd 0px -3px 3px; text-align: center; }
#maple-footer-small-ani { z-index: 8; display: none; }


.maple-body { margin: 0 auto; max-width: 1440px; padding: 50px 0 0 0; }
.maple-body-wrapper { overflow: hidden; }
.maple-title { font-size: 17px; color: #555; text-decoration: none; font-family: 华文黑体, Microsoft YaHei, 微软雅黑; }
.maple-title:hover { color: #888; }
.maple-info { color: #666; }
.maple-datetime { font-size: 13px; color: #777; margin-right: 20px; }
.maple-tags { font-size: 12px; padding: 0 5px; }
.maple-preview { font-size: 14px;}
.maple-hr {
  height: 1px; border: none; margin: 30px 0;
  background: -webkit-linear-gradient(left, white, #666, white); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(left, white, #666, white); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(left, white, #666, white); /* Firefox 3.6 - 15 */
  background: linear-gradient(left, white, #666, white); /* 标准的语法（必须放在最后） */
}

.maple-intro { text-indent: 2em; }

.maple-footer { height: 100px; padding-top: 15px; background-color: transparent; border-top: 1px solid #ddd; box-shadow: #ddd 0px -3px 3px; }
.maple-footer .maple-footer-bloc { width: 100%; padding: 10px; display: inline-block; text-align: center; font-size: 12px; }
.maple-footer .maple-footer-bloc p { margin: 0; text-align: center; color: #666; }
.maple-footer .maple-footer-bloc .maple-footer-logo { font-size: 20px; margin: 0 15px; color: #666; }

.maple-mask-header { position: fixed; top: -75px; z-index: 9; height: 70px; width: 100%; background-color: #fff; border-bottom: 1px solid #ddd; box-shadow: #ddd 0px 3px 3px; text-align: center; }
.maple-mask-header-container { width: 66.6666666666%; display: inline-block; } 
.maple-mask-header-logo { margin: 10px 0; }
.maple-mask-footer { position: fixed; bottom: -105px; z-index: 9; width: 100%; height: 100px; background-color: transparent; border-top: 1px solid #ddd; box-shadow: #ddd 0px -3px 3px; }

#maple-title, #maple-header-small-logo, #maple-header-small-logo-ani { cursor: pointer; }
#maple-header-small-ani { height: 50%; box-shadow: none; border-bottom: none; top: 0; display: block; visibility: visible; }
#maple-header-small-container-ani { margin-top: calc(50vh - 70px); }
#maple-footer-small-ani { height: calc(50vh + 70px); box-shadow: none; border-top: none; display: block; visibility: visible; }

.maple-license { display: inline-block; height: 30px; opacity: 0.65; }
.maple-license-desc { display: inline-block; text-align: left; }
.maple-license-desc a { color: #4271ae; }

@media (max-width: 1000px) {
  .maple-license { height: 60px; margin: 0 0 30px 0; }
  .maple-license-desc { display: block; text-align: center; font-size: 25px; }
  .maple-footer-bloc > p { font-size: 20px; }
  .maple-header h2 { font-size: 30px !important; }

  .maple-header-small {
    height: 10vh;
  }
  #maple-header-small-logo{
    height: 10vh;
  }
  #maple-title {
    font-size: 7vw;
    margin: 65px 0;
  }
  .maple-info * {
    font-size: 20px !important;
    margin-right: 15px;
  }
  .maple-tags {
    font-size: 20px;
    padding: 0 10px;
  }

  .maple-title { font-size: 34px; }
  .maple-preview { font-size: 24px; }

  .maple-footer .maple-footer-bloc .maple-footer-logo { font-size: 40px; }

  .maple-article-container .maple-article-content h3 {
    font-size: 40px;
  }
  .maple-article-container .maple-article-content h2 {
    font-size: 50px;
  }
}
