<link rel="stylesheet" href="/css/article.css">
<section class="maple-article-container">
  <h1 class="maple-title">欢迎来到枫叶世界</h1>
  <p class="maple-info">
    <span class="maple-datetime">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      2016.08.05
    </span>
    <i class="fa fa-coffee" aria-hidden="true"></i>
    <span class="maple-tags">闲聊</span>
  </p>
  <hr class="maple-hr"></hr>
  <div class="maple-article-content" id="maple-article-content">
    <div class="loading-ani-container">
      <div class="loading-ani">
        <span>&nbsp;
          <div class="loading-bar loading-bar-1"></div>
          <div class="loading-bar loading-bar-2"></div>
          <div class="loading-bar loading-bar-3"></div>
        </span>
      </div>
    </div>
  </div>
</section>
<script src="/js/article.js"></script>